body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #091020;
}
.editor{
    padding: 70px;
    border-radius: 20px;
    border:none ;
    margin-top: 40px;
}
.editor:hover{
    cursor: pointer;
    border:none ;
    border-color: #008000;
    box-shadow: 0 0 20px #008000;
}
.editor:active{
    border:none ;
    box-shadow: 0 0 20px #00065c;

}
.editor:focus{
    border:none ;
    box-shadow: 0 0 20px #80004b;

}
.first > nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(246, 250, 250);
    background-color:#310202;

   
}
.taskstodo{
    border-radius: 20px;
    border:none ;
    margin-top: 40px; 
    background-color: #efefef; 
    margin-left: 500px;  
    margin-right: 500px; 
    text-align: center;
    color: #008000;
}
.first{
    background-color: #310202;
}
.nav-right{
    display: flex;
    align-items: right;
    justify-content: right;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin-left: 1300px;
}
.nav-right:hover{
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 0 10px #663399,
    0 0 35px #663399,
    0 0 50px #663399;
}
.text_editor{
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    background-color: #663399;
    height: 15vh;
    padding: 70px;
}
.na{
    padding: 5px;

    
}
h1{
text-shadow: #663399;
text-align: center;
text-decoration-color: none;
color: whitesmoke;
background-color:none;
}
.note{
    text-align: left;
    justify-content: left;
    color: #efefef;
    font-family: 'Times New Roman', Times, serif;

}
.text-white{
    text-emphasis-color: white;
    text-decoration-color: #efefef;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.fo{
    
    padding:10px;;
    background-color: rgb(79, 21, 145);
    margin-top: 200px;
    box-shadow: 0 0 1px #663399,
                0 0 8px #663399,
                0 0 13px #663399;;
    border: none;
}